<div class="absolute bottom-0 flex w-full flex-col">
  <div class="hidden sm:flex">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="10 10 180 180"
    >
      <path d="M10,10 Q100,180 190,190 L10,190 Z" fill="rgb(241 245 249)"
      ></path>
    </svg>
    <div class="grow"></div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="10 10 180 180"
    >
      <g transform="scale(-1, 1)">
        <path
          d="M-190,10 Q-100,180 -10,190 L-190,190 Z"
          fill="rgb(241, 245, 249)"></path>
      </g>
    </svg>
  </div>
  <div class="flex h-12">
    <div class="grow bg-slate-100"></div>
    <div class="basis-52 rounded-tr-[100%] bg-slate-100"></div>
    <div class="basis-52 rounded-tl-[100%] bg-slate-100"></div>
    <div class="grow bg-slate-100"></div>
  </div>
  <div class="h-1 bg-slate-100"></div>
</div>
