---
import type { Data } from "../../content/textEnglish"; // Make sure to use the correct path to your content file
import Divider from "../sub-components/Divider.astro";

interface Props {
  content: Data;
}
const { content } = Astro.props;

// Functions for each timeline step to comply with Astro syntax requirements
const TimelineStep1 = () => content.home.thirdSection.timeline[0];
const TimelineStep2 = () => content.home.thirdSection.timeline[1];
const TimelineStep3 = () => content.home.thirdSection.timeline[2];
const TimelineStep4 = () => content.home.thirdSection.timeline[3];
const TimelineStep5 = () => content.home.thirdSection.timeline[4];
const TimelineStep6 = () => content.home.thirdSection.timeline[5];
const TimelineStep7 = () => content.home.thirdSection.timeline[6];

// Other section content
const SectionTitle = () => content.home.thirdSection.title;
const Conclusion = () => content.home.thirdSection.content;
---

<section
  class="this-is-how-we relative scroll-mt-20 p-12 pb-0"
  page-section="learn-more"
>
  <div class="mx-auto max-w-7xl">
    <!-- Section Title -->
    <h4 class="text-center text-5xl font-bold">
      <SectionTitle />
    </h4>

    <div class="flex flex-col justify-center py-6 sm:py-12">
      <div class="w-full px-2 py-3 sm:mx-auto sm:max-w-5xl sm:px-0">
        <div class="relative text-base font-medium text-gray-700 antialiased">
          <!-- Vertical bar running through middle -->
          <div
            class="absolute left-1/2 hidden h-full w-1 -translate-x-1/2 transform rounded-full bg-sky-300 sm:block"
          >
          </div>

          <!-- Step 1 -->
          <div class="mt-6 sm:mb-12 sm:mt-0">
            <div class="flex flex-col items-center sm:flex-row">
              <div
                class="mx-auto flex w-full items-center justify-start transition-transform hover:-translate-y-1"
              >
                <div class="w-full sm:w-1/2 sm:pr-8">
                  <div class="rounded-2xl bg-white p-4 shadow-md">
                    <TimelineStep1 />
                  </div>
                </div>
              </div>
              <div
                class="absolute left-1/2 flex h-8 w-8 -translate-x-1/2 -translate-y-4 transform items-center justify-center rounded-full border-4 border-sky-300 bg-white font-bold sm:translate-y-0"
              >
                1
              </div>
            </div>
          </div>

          <!-- Step 2 -->
          <div class="mt-6 sm:mb-12 sm:mt-0">
            <div class="flex flex-col items-center sm:flex-row">
              <div
                class="mx-auto flex w-full items-center justify-end transition-transform hover:-translate-y-1"
              >
                <div class="w-full sm:w-1/2 sm:pl-8">
                  <div class="rounded-2xl bg-white p-4 shadow-md">
                    <TimelineStep2 />
                  </div>
                </div>
              </div>
              <div
                class="absolute left-1/2 flex h-8 w-8 -translate-x-1/2 -translate-y-4 transform items-center justify-center rounded-full border-4 border-sky-300 bg-white font-bold sm:translate-y-0"
              >
                2
              </div>
            </div>
          </div>

          <!-- Step 3 -->
          <div class="mt-6 sm:mb-12 sm:mt-0">
            <div class="flex flex-col items-center sm:flex-row">
              <div
                class="mx-auto flex w-full items-center justify-start transition-transform hover:-translate-y-1"
              >
                <div class="w-full sm:w-1/2 sm:pr-8">
                  <div class="rounded-2xl bg-white p-4 shadow-md">
                    <TimelineStep3 />
                  </div>
                </div>
              </div>
              <div
                class="absolute left-1/2 flex h-8 w-8 -translate-x-1/2 -translate-y-4 transform items-center justify-center rounded-full border-4 border-sky-300 bg-white font-bold sm:translate-y-0"
              >
                3
              </div>
            </div>
          </div>

          <!-- Step 4 -->
          <div class="mt-6 sm:mb-12 sm:mt-0">
            <div class="flex flex-col items-center sm:flex-row">
              <div
                class="mx-auto flex w-full items-center justify-end transition-transform hover:-translate-y-1"
              >
                <div class="w-full sm:w-1/2 sm:pl-8">
                  <div class="rounded-2xl bg-white p-4 shadow-md">
                    <TimelineStep4 />
                  </div>
                </div>
              </div>
              <div
                class="absolute left-1/2 flex h-8 w-8 -translate-x-1/2 -translate-y-4 transform items-center justify-center rounded-full border-4 border-sky-300 bg-white font-bold sm:translate-y-0"
              >
                4
              </div>
            </div>
          </div>

          <!-- Step 5 -->
          <div class="mt-6 sm:mb-12 sm:mt-0">
            <div class="flex flex-col items-center sm:flex-row">
              <div
                class="mx-auto flex w-full items-center justify-start transition-transform hover:-translate-y-1"
              >
                <div class="w-full sm:w-1/2 sm:pr-8">
                  <div class="rounded-2xl bg-white p-4 shadow-md">
                    <TimelineStep5 />
                  </div>
                </div>
              </div>
              <div
                class="absolute left-1/2 flex h-8 w-8 -translate-x-1/2 -translate-y-4 transform items-center justify-center rounded-full border-4 border-sky-300 bg-white font-bold sm:translate-y-0"
              >
                5
              </div>
            </div>
          </div>

          <!-- Step 6 -->
          <div class="mt-6 sm:mb-12 sm:mt-0">
            <div class="flex flex-col items-center sm:flex-row">
              <div
                class="mx-auto flex w-full items-center justify-end transition-transform hover:-translate-y-1"
              >
                <div class="w-full sm:w-1/2 sm:pl-8">
                  <div class="rounded-2xl bg-white p-4 shadow-md">
                    <TimelineStep6 />
                  </div>
                </div>
              </div>
              <div
                class="absolute left-1/2 flex h-8 w-8 -translate-x-1/2 -translate-y-4 transform items-center justify-center rounded-full border-4 border-sky-300 bg-white font-bold sm:translate-y-0"
              >
                6
              </div>
            </div>
          </div>

          <!-- Step 7 -->
          <div class="mt-6 sm:mb-12 sm:mt-0">
            <div class="flex flex-col items-center sm:flex-row">
              <div
                class="mx-auto flex w-full items-center justify-start transition-transform hover:-translate-y-1"
              >
                <div class="w-full sm:w-1/2 sm:pr-8">
                  <div class="rounded-2xl bg-white p-4 shadow-md">
                    <TimelineStep7 />
                  </div>
                </div>
              </div>
              <div
                class="absolute left-1/2 flex h-8 w-8 -translate-x-1/2 -translate-y-4 transform items-center justify-center rounded-full border-4 border-sky-300 bg-white font-bold sm:translate-y-0"
              >
                7
              </div>
            </div>
          </div>
        </div>
        <p class="relative z-10 text-lg font-light">
          <Conclusion />
        </p>
      </div>
    </div>
  </div>
  <Divider />
</section>
