---
import type { Data } from "../../content/textEnglish"; // Change the path if your Hungarian content is in another file

interface Props {
  content: Data;
}
const { content } = Astro.props;

// Create functions for each JSX element needed
const SectionTitle = () => content.home.fourthSection.title;
const ParagraphContent = () => content.home.fourthSection.content;
---

<section class="fourth-page scroll-mt-20 p-12 pb-0" page-section="learn-more">
  <div class="mx-auto max-w-7xl">
    <h4 class="mb-10 text-center text-5xl font-bold">
      <SectionTitle />
    </h4>
    <div
      class="relative z-10 mx-auto mt-12 max-w-3xl text-lg font-light sm:mt-0"
    >
      <ParagraphContent />
    </div>
  </div>
</section>
