---
import Divider from "../sub-components/Divider.astro";
---

<section class="relative p-12 pt-24">
  <div class="mx-auto max-w-7xl">
    <div
      class="absolute left-0 top-0 z-10 flex w-full justify-center overflow-hidden pt-24"
      scroll-speed="0.15"
    >
      <div
        class="bg-racket h-96 w-96 rotate-45 scale-150 opacity-5 md:-translate-x-60"
      >
      </div>
    </div>
    <div class="relative z-20 flex flex-col gap-10 md:flex-row">
      <h2 class="flex-1 text-4xl font-bold">
        Welcome to our company! We're glad to have you with us
      </h2>
      <div class="flex flex-1 flex-col gap-4 text-lg font-light leading-8">
        <p>
          We are a dedicated team of experts specializing in purchasing and
          selling second-hand padel courts. Our primary mission is to provide
          high-quality, well-maintained courts from Sweden to other EU
          countries. With extensive industry knowledge, we excel in tailoring
          our offerings to match our customers' unique needs. We are committed
          to ensuring customer satisfaction and a hassle-free experience.
        </p>
        <p>
          We take immense pride in the quality of our second-hand courts,
          exclusively dealing with those in excellent condition. Our team is
          always available to assist you, from selecting the right court to
          handling delivery. We also excel in identifying potential buyers for
          second-hand padel courts and related items, collaborating with Swedish
          bankruptcy administrators to facilitate cross-border sales within the
          EU.
        </p>
        <h3 class="pt-4 text-3xl font-bold text-sky-500">
          Thank you for choosing us, and we look forward to serving you!
        </h3>
      </div>
    </div>
  </div>
</section>
<Divider />
