---
import Divider from "../sub-components/Divider.astro";
import type { Data } from "../../content/textEnglish"; // Change the path if your Hungarian content is in another file

interface Props {
  content: Data;
}
const { content } = Astro.props;

// Create functions for each JSX element needed
const Title = () => content.home.secondSection.title;
const Paragraph1 = () => content.home.secondSection.content.props.children[0];
const Paragraph2 = () => content.home.secondSection.content.props.children[2];
const EndTitle = () => content.home.secondSection.endTitle;
---

<section class="relative p-12 pt-24">
  <div class="mx-auto max-w-7xl">
    <div
      class="absolute left-0 top-0 z-10 flex w-full justify-center overflow-hidden pt-24"
      scroll-speed="0.15"
    >
      <div
        class="bg-racket h-96 w-96 rotate-45 scale-150 opacity-5 md:-translate-x-60"
      >
      </div>
    </div>
    <div class="relative z-20 flex flex-col gap-10 md:flex-row">
      <h2 class="flex-1 text-4xl font-bold">
        <Title />
      </h2>
      <div class="flex flex-1 flex-col gap-4 text-lg font-light leading-8">
        <p>
          <Paragraph1 />
        </p>
        <p>
          <Paragraph2 />
        </p>
        <h3 class="pt-4 text-3xl font-bold text-sky-500">
          <EndTitle />
        </h3>
      </div>
    </div>
  </div>
</section>
<Divider />
