---
import "@fontsource-variable/chivo";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-slate-100">
    <Nav />
    <div
      class="fixed top-0 z-30 h-16 w-full bg-gradient-to-b from-black opacity-30"
      style="
      --tw-gradient-to: rgba(255, 255, 255, 0) var(--tw-gradient-to-position);
    "
    >
    </div>

    <slot />
    <Footer />
  </body>
</html>
